.small-circle{
    position: absolute;
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.middle-circle{
    position: absolute;
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

.big-circle{
    position: absolute;
    width: 270px;
    height: 270px;
    border-radius: 50%;
    transition: .4s;
    background-color: #262625;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-circle{
    transition: 0.4s;
}

.logo-circle:hover{
    transform: scale(1.1);
}


.orange-mask{
    background-color: #262625;
    opacity: 0.75;
}

.yellow-mask{
    background-color: #262625;
    opacity: 0.75;
}

#small-circle-1{
    top: 84px;
    left: 112px;
    background-color: #262625;
}

#small-circle-2{
    top: 60px;
    left: 472px;
    background-color: #262625;

}

#small-circle-3{
    top: 27px;
    left: 782px;
    background-color: #262625;

}

#small-circle-4{
    top: 350px;
    left: 923px;
    background-color: #262625
}

#middle-circle-1{
    top: -21px;
    left: 240px;
}

#middle-circle-2{
    top: 171px;
    left: 134px;
}

#middle-circle-3{
    top: 465px;
    left: 117px;
    background-color: #262625;
}

#middle-circle-4{
    top: 510px;
    left: 350px;
    background-color: #262625;
}

#middle-circle-5{
    top: 470px;
    left: 580px;
    background-color: #262625;
}

#middle-circle-6{
    top: 233px;
    left: 688px;
}

#middle-circle-7{
    top: 45px;
    left: 614px;
}

#middle-circle-8{
    top: 120px;
    left: 832px;
    background-color: #262625;
}

#middle-circle-9{
    top: 491px;
    left: 814px;
    background-color: #262625;
}

#big-circle-1{
    top: 216px;
    left: 344px;
}

.container-circles{
    height: 720px;
}

.hide{display: none;}/*agregué clase hide*/

@media screen and (max-width:1200px){
    .small-circle{
        width: 90px;
        height: 90px;
        border-radius: 50%;
    }
    .middle-circle{
        width: 180px;
        height: 180px;
        border-radius: 50%;
    }

    .big-circle{
        position: absolute;
        width: 270px;
        height: 270px;
        border-radius: 50%;
    }

    #small-circle-1{
        top: 84px;
        left: 32px;
        background-color: #262625;
    }

    #small-circle-2{
        top: 60px;
        left: 392px;
        background-color: #262625;

    }

    #small-circle-3{
        top: 27px;
        left: 702px;
        background-color: #262625;

    }

    #small-circle-4{
        top: 350px;
        left: 843px;
        background-color: #262625
    }

    #middle-circle-1{
        top: -21px;
        left: 160px;
    }

    #middle-circle-2{
        top: 171px;
        left: 54px;
    }

    #middle-circle-3{
        top: 465px;
        left: 37px;
        background-color: #262625;
    }

    #middle-circle-4{
        top: 510px;
        left: 269px;
        background-color: #262625;
    }

    #middle-circle-5{
        top: 470px;
        left: 490px;
    }

    #middle-circle-6{
        top: 233px;
        left: 608px;
    }

    #middle-circle-7{
        top: 45px;
        left: 534px;
    }

    #middle-circle-8{
        top: 120px;
        left: 752px;
        background-color: #262625;
    }

    #middle-circle-9{
        top: 491px;
        left: 734px;
        background-color: #262625;
    }

    #big-circle-1{
        top: 216px;
        left: 264px;
    }

    .container-circles{
        height: 720px;
    }

    .hide{display: none;}
}

@media screen and (max-width:992px){
    .small-circle{
        width: 70px;
        height: 70px;
    }

    .middle-circle{
        width: 140px;
        height: 140px;
    }
    
    .big-circle{
        width: 240px;
        height: 240px;
    }
    
    #small-circle-1{
        top: 540px;
        left: 500px;
        background-color: #262625;
    }
    
    #small-circle-2{
        top: 50px;
        left: 430px;
        background-color: #262625;
    
    }
    
    #small-circle-3{
        top: 590px;
        left: 390px;
        background-color: #262625;
    
    }
    
    #small-circle-4{
        top: 320px;
        left: 160px;
        background-color: #262625
    }
    
    #middle-circle-1{
        top: 30px;
        left: 200px;
    }
    
    #middle-circle-2{
        top: 171px;
        left: 20px;
    }
    
    #middle-circle-3{
        top: 30px;
        left: 130px;
        background-color: #262625;
    }
    
    #middle-circle-4{
        top: 430px;
        left: 50px;
    }
    
    #middle-circle-5{
        top: 440px;
        left: 320px;
    }
    
    #middle-circle-6{
        top: 240px;
        left: 430px;
    }
    
    #middle-circle-7{
        top: 90px;
        left: 410px;
    }
    
    #middle-circle-8{
        top: 390px;
        left: 470px;
        background-color: #262625;
    }
    
    #middle-circle-9{
        top: 540px;
        left: 200px;
        background-color: #262625;
    }
    
    #big-circle-1{
        top: 180px;
        left: 250px;
    }
    
    .container-circles{
        height: 720px;
    }
}/*media width-max:992*/

@media screen and (max-width:768px){
    .small-circle{
        width: 50px;
        height: 50px;
    }

    .middle-circle{
        width: 100px;
        height: 100px;
    }
    
    .big-circle{
        width: 180px;
        height: 180px;
    }
    
    #small-circle-1{
        top: 480px;
        left: 360px;
        background-color: #262625;
    }
    
    #small-circle-2{
        top: 50px;
        left: 370px;
        background-color: #262625;
    
    }
    
    #small-circle-3{
        top: 350px;
        left: 210px;
        background-color: #262625;
    
    }
    
    #small-circle-4{
        top: 290px;
        left: 100px;
        background-color: #262625
    }
    
    #middle-circle-1{
        top: 30px;
        left: 140px;
    }
    
    #middle-circle-2{
        top: 171px;
        left: -40px;
    }
    
    #middle-circle-3{
        top: 50px;
        left: 110px;
        background-color: #262625;
    }
    
    #middle-circle-4{
        top: 380px;
        left: 50px;
        background-color: #262625;
    }
    
    #middle-circle-5{
        top: 380px;
        left: 260px;
    }
    
    #middle-circle-6{
        top: 245px;
        left: 270px;
    }
    
    #middle-circle-7{
        top: 130px;
        left: 280px;
    }
    
    #middle-circle-8{
        top: 360px;
        left: 380px;
        background-color: #262625;
    }
    
    #middle-circle-9{
        top: 460px;
        left: 160px;
        background-color: #262625;
    }
    
    #big-circle-1{
        top: 140px;
        left: 180px;
    }
    
    .container-circles{
        height: 720px;
    }
}

@media screen and (max-width:576px){
    #small-circle-1{
        display: none;
    }
    
    #small-circle-2{
        display: none;
    }
    
    #small-circle-3{
        display: none;
    }
    
    #small-circle-4{
        display: none;
    }
    
    #middle-circle-1{
        top: 0px;
        left: 0px;
        position: static;
    }
    
    #middle-circle-2{
        top: 0px;
        left: 0px;
        position: static;
    }
    
    #middle-circle-3{
        display: none;
    }
    
    #middle-circle-4{
        display: none;
    }
    
    #middle-circle-5{
        display: none;
    }
    
    #middle-circle-6{
        top: 0px;
        left: 0px;
        position: static;
    }
    
    #middle-circle-7{
        top: 0px;
        left: 0px;
        position: static;
    }
    
    #middle-circle-8{
        display: none;
    }
    
    #middle-circle-9{
        display: none;
    }
    
    #big-circle-1{
        display: none;
    }

    .container-circles{
        height: 1800px;
    }

    .message-about-us{
        display: none;
    }
}

