.card-style{
    border: none !important;
    width: 180px;
}

.card-style:hover{
    cursor: pointer;
}

.shop{
    position: absolute;
    bottom: 55px;
    right: 10px;
    width: 40px;
    height: 40px;
    background-color: #EC6053;
    border-radius: 50%;
}

.shop-icon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0;
    position:relative;

}

.img-product{
    transition: transform .2s;
}

.img-product:hover{
    transform: scale(1.1);
}

.img-cart{
    position: absolute;
    top: 5px;
    left: 5px;
    height: 30px;
    width: 30px;
    transition: transform .2s;
}

.img-cart:hover{
    transform: scale(1.1);
}

.product-price{
    font-size: 2rem;
    font-weight: bold;
}