body {
    min-height: 100vh;
    position: relative;
  }
  
#contact-main{
    height: 100vh;
    background-image: url(../assets/img-bg/bg-contact.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 46em;
}

.bg--color{
    border-radius: 32px;
}

.bg--color::placeholder{
    color: gray;
}

.bg-contact{
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 30px;
    backdrop-filter: blur(5px);
}

.container{
    z-index:2;
}

#logo{
    width: 50%;
}

.button-contact{
    font-weight: bold;
    background-color: #EB6052;
    border-radius: 32px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
}

.button-contact:hover{
    background-color:#DA2B3B;
    color: white;
}

.form-control:focus{
    border-color: #53BFFF;
    box-shadow: 0 0 10px 2px #53BFFF;
}

@media screen and (max-width:900px){
    #contact-main{
        background-image: url(../assets/img-bg/bg-contact.jpg);
    }
    
}

.form--msg{
    width: 228px;
    height: 228px;
}

.form--mensaje-exito{
    display: none;
}

.form--mensaje-exito-activo{
    display: block;
}

.form--mensaje{
    display: none;
}

.form--mensaje-activo{
    display: block;
}