#contact-main{
    background-image: url(../assets/img-bg-contact/bg-contact-lg.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
   
}

.bg-contact{
    margin-bottom: 3rem;
    background-color: red;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 30px;
}

.container{
    z-index:2;
}

#logo{
    width: 50%;
}

.button-contact{
    font-weight: bold;
}

.button-contact:hover{
    color:#FAED26;
    
}

.form-control:focus{
    border-color: #FAED26;
    box-shadow: 0 0 10px #FAED26;
}

@media screen and (max-width:900px){
    #contact-main{
        background-image: url(../assets/img-bg-contact/bg-contact-sm.PNG);
    }
    
}

.form--msg{
    width: 228px;
    height: 228px;
}

.form--mensaje-exito{
    display: none;
}

.form--mensaje-exito-activo{
    display: block;
}

.form--mensaje{
    display: none;
}

.form--mensaje-activo{
    display: block;
}

/* estilos para bloques de contacto */
/* 
.form--group-input{
    position: relative;
}

.form--input{
    width: 100%;
    background: #fff;
    border: 3px solid transparent;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: .3s ease all;
}

.form--input:focus{
    border: 3px solid #0075FF;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}

.form--input--error{
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}

.form--input--error-activo{
    display: block;
}

.form--validation--estado{
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
}

.form--mensaje{
    height: 45px;
    line-height: 45px;
    background-color: #F66060;
    padding: 0 15px;
    border-radius: 3px;
    display: none;
}

.form--mensaje-activo{
    display: block;
}

.form--mensaje p{
    margin: 0;
}

.form--mensaje-exito{
    font-size: 14px;
    color: #119200;
    display: none;
}

.form--mensaje-exito-activo{
    display: block;
} */

/* Estilos para validacion */

/* .form--group-correcto .form--validation--estado{
    color: #1ed12d;
    opacity: 1;
}

.form--group-incorrecto .form--label{
    color: #bb2929;
}

.form--group-incorrecto .form--validation--estado{
    color: #bb2929;
    opacity: 1;
}

.form--group-incorrecto .form--input{
    border: 3px solid #bb2929;
} */