.formato-c{
    padding-bottom: 20px;
}

.cont-1{
    justify-content: center;
    padding-bottom: 40px;
    
}
.container-formato{
    
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    place-items: center;
    
}
.news{
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    align-items: center;

    margin: auto;
}
.news img{
 padding: 20px;
 position: relative;
 margin-left: 0%;
/* align-self:start;
 margin: auto;*/
}
.center {
    margin: auto;
    width: 60%;
    height: 156px;
    color: rgb(255, 254, 254);
    /*border: 3px solid #73AD21;*/
    padding: 10px;
    background-image: url(../assets/pag-principal/atardecer.jpg);
}
.btn-primary{
    background-color: rgb(0, 0, 0);
    border-color: #fff;
}

h2 {
    font: 17px sans-serif;
    margin-top: 30px;
    text-align: center;
  }
  h2.linea {
    position: relative;
    z-index: 1;
  }
  h2.linea:before {
    border-top: 2px solid #610a0a;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 95%;
    z-index: -1;
  }
  h2.linea span {
  
    background: #fff;
    padding: 0 15px;
  }

  .texto-img{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 61px;
    font-weight: 400;
    font-family: 'Outfit', sans-serif;
    color: rgb(0, 0, 0);
    text-align: left;
}

.position{
  position: absolute;
  top: 50%;
  left: 94%;
  transform: translate(-50%, -50%);
}

.position-1{
  position: absolute;
  top: 40%;
  left: 90%;
  transform: translate(-50%, -50%);
  font-weight: 700;
}

.texto-slide1{
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 61px;
  font-weight: 400;
  font-family: 'Outfit', sans-serif;
  color: rgb(255, 255, 255);
}
.position-slide1{
position: absolute;
top: 70%;
left: 30%;
transform: translate(-50%, -50%);
}

.texto-img2{
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 61px;
  font-weight: 400;
  font-family: 'Outfit', sans-serif;
  color: rgb(255, 255, 255);
}
.position2{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
}

.position2-1{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  text-align: center;
  }

.logo-img{
  position: absolute;
  top: 10px;
  left: 10px;
}
.position-logo{
  position: absolute;
  top: 40%;
  left: 30%;
  transform: translate(-50%, -50%);
}


@media (max-width: 1024px) {
  .card {
    width: 33.3%;
  }
  .texto-img{
    font-size: large;
   }
   .texto-img2{
    font-size: large;
   }
   .texto-slide1{
    font-size: large;
   }
}

@media (max-width: 768px) {
   .card {
    width: 50%;
  }
  .texto-img{
   font-size: large;
  }
  .texto-img2{
    font-size: large;
   }
  .texto-slide1{
    font-size: medium;
   }
}

@media (max-width: 528px) {
 .card {
    width: 100%;
    justify-content: center;
    display: inline;
    
  }
  .texto-img{
    font-size:large;
   }
   .texto-img2{
    font-size: small;
   }
   .texto-slide1{
    font-size:small;
   }
   .news{
    display:flex;
    flex-direction: column;
  }
  .center{
    width: 100%;
    height: 200px;
  }
  
}

@media screen and (max-width:768px){
  .carousel-item .img{
      src:   url(../assets/img-bg-contact/bg-contact-sm.PNG);
  }
  
}